* {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(74, 37, 107);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    width: 500px;
    background-color: rgb(244, 181, 39);
}

.content h2 {
    font-size: 42px;
    color: rgb(74, 37, 107);
}

.form {
    display: flex;
    flex-direction: column;
}

select {
    outline: none;
    padding: 10px;
    margin: 10px;
}